<template name="main">

	<div class="main-panel">
		<!-- <img src="1.jpg" style="width: 400px"/> -->
		<div class="main-panel-text">
			
			<h1>victoria li</h1>
			<p> mit 2015 &nbsp; || &nbsp; fullstack engineer @ fitbit </p>
			<br/>
			<p><a href="https://www.dropbox.com/s/1gngt6b50hhl49n/victoriali-resume.pdf?dl=0" target="_blank"> resume</a></p>
			<br/>
			<h2> projects </h2>
			<div class="main-panel-links">
				<p class="link"><a > koach</a></p>
				<p class="link"><a> ridonkulous</a></p>
				<p class="link"><a id="slate"> slate</a></p>
				<p class="link"><a id="techx"> techx</a></p>
			</div>
		</div>
	</div>
	<div class="content-panel">
		HELLOOOWWr
		 {{> Template.dynamic template=panelName}}
	</div>
	{{> koach}}


</template>